---
layout: handbook-page-toc
title: "Compliance Group"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

### Govern:Compliance
{: #welcome}


## How we work
* In accordance with our [GitLab values](/handbook/values/).
* Transparently: nearly everything is public, we record/livestream meetings whenever possible.
* We get a chance to work on the things we want to work on.
* Everyone can contribute; no silos.
  * The goal is to have product give engineering and design the opportunity to be involved with direction and issue definition from the very beginning.
* We do an optional, asynchronous daily stand-up in our stand-up channel:
  * Govern:Compliance [#g_govern_compliance_daily](https://gitlab.slack.com/archives/C013E163FD0)

### Code Review
<%= partial("handbook/engineering/development/dev/manage/compliance/code_review.erb") %>

### Proof-of-concept MRs
<%= partial("handbook/engineering/development/dev/manage/compliance/pocs.erb") %>

### Working on unscheduled issues
<%= partial("handbook/engineering/development/dev/manage/compliance/unscheduled_issues.erb") %>


## Milestone Planning
We plan in monthly cycles in accordance with our [Product Development Timeline](/handbook/engineering/workflow/#product-development-timeline). Our typical planning cycle is suggested to look like:

### Pre-planning
<%= partial("handbook/engineering/development/dev/manage/compliance/pre_planning.erb") %>

### Planning
<%= partial("handbook/engineering/development/dev/manage/compliance/planning.erb") %>

### Issue Prioritization
<%= partial("handbook/engineering/development/dev/manage/compliance/prioritization.erb") %>

## During Milestone
<%= partial("handbook/engineering/development/dev/manage/compliance/release.erb") %>

### Development Flow
<%= partial("handbook/engineering/development/dev/manage/compliance/development_flow.erb") %>

### Discovery/Refinement
<%= partial("handbook/engineering/development/dev/manage/compliance/refinement.erb") %>

#### Backlog
<%= partial("handbook/engineering/development/dev/manage/compliance/backlog.erb") %>

#### Estimation
<%= partial("handbook/engineering/development/dev/manage/compliance/estimation.erb") %>

#### Implmentation Plan
<%= partial("handbook/engineering/development/dev/manage/compliance/plan.erb") %>

#### Breaking down or promoting issues
<%= partial("handbook/engineering/development/dev/manage/compliance/promote_issues.erb") %>

### Release posts
<%= partial("handbook/engineering/development/dev/manage/compliance/release_posts.erb") %>


## Meetings
<%= partial("handbook/engineering/development/dev/manage/compliance/meetings.erb") %>


## Group Members
The following people are permanent members of the group:

<%= stable_counterparts(role_regexp: /Govern.+Compliance/) %>
<%= stable_counterparts(role_regexp: /Manage.+Compliance/) %>

## Dashboards 

#### Product
[Product performance indicators / North star metrics](https://app.periscopedata.com/app/gitlab/663045/Manage:-Compliance-Dashboard)

<%= partial "handbook/engineering/metrics/partials/_cross_functional_dashboard.erb", locals: { filter_value: 'compliance' } %>

## Links and resources
{: #links}

<%= partial("handbook/engineering/development/dev/manage/shared_links.erb") %>
* [Milestone retrospectives](https://gitlab.com/gl-retrospectives/govern-sub-department/compliance/-/issues)
* Our Slack channels
  * Govern:Compliance [#g_govern_compliance](https://gitlab.slack.com/messages/CN7C8029H)
  * Daily standups [#g_govern_compliance_standup](https://gitlab.slack.com/archives/C013E163FD0)
* Issue boards
  * Compliance [build board](https://gitlab.com/groups/gitlab-org/-/boards/1305010) and [planning board](https://gitlab.com/groups/gitlab-org/-/boards/4657720)
